
<robot name="stick">

  <link name="base_link">
    <origin xyz="0 0 0"/>
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link> 

  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="stick"/>
  </joint>

  <link name="stick">
    <visual>
      <geometry>
        <cylinder length="0.14" radius="0.003"/>
      </geometry>
    </visual>

    <collision>
      <geometry>
        <cylinder length="0.14" radius="0.003"/>
      </geometry>
    </collision>

    <origin xyz="0 0 0"/>
    <inertial>
      <mass value="0.001"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
</robot>